{% extends 'index.html' %}

{% block conteudo %}
<div id="molduraconteudo">
	<h2>A Empresa</h2>
	<div id="empresa">
		Manaia Consultoria Tributária localiza-se em uma região favorável do Estado mais 
		rico do Brasil, por isso a empresa apresenta uma carteira de clientes composta por 
		grandes empresas em diversos segmentos da economia brasileira.<br>
		As grandes empresas estão preocupadas com o volume de informações que necessitam 
		assimilar diariamente, assim como das obrigações principais e acessórias a serem 
		declaradas mensalmente aos órgãos fiscalizadores. Com a modernização dos órgãos 
		governamentais, grande parte das empresas não possui meios de cumprir corretamente 
		com as obrigações atualmente exigidas, em especial com apuração e recolhimento de 
		tributos, com isso existe a inevitável falha no procedimento, o que geralmente causa
		prejuízo à empresa. Diante dessa responsabilidade, a Manaia Consultoria Tributária
		foi criada para atuar junto às empresas a fim de assessorar na solução de tais 
		problemas e recuperar o que foi pago indevidamente.<br>
		Com tantas mudanças ocorrendo no sistema tributário brasileiro, a Manaia Consultoria
		Tributária procura ser uma referência nos serviços por ela prestados. 
		Diante disso, vem qualificando seus profissionais para atender com qualidade e 
		excelência todas as necessidades de seus clientes.
	</div>
		<div id="empresaSomos">
			<h3>Quem Somos</h3><br>
			Atuando há mais de 26 anos na prestação de serviços na região de Matão, prestando
			serviços a diversas empresas, detém excelente relacionamento com clientes 
			renomados em segmentos econômicos na região e que podem referenciar a atuação 
			profissional.<br>
			A MANAIA CONSULTORIA TRIBUTÁRIA é composta de profissionais qualificados, dentre 
			eles, contadores, auditores, advogados e consultores, tendo como meta o 
			desenvolvimento de trabalhos na área de revisão fiscal, sempre com foco e 
			assentamento em soluções práticas, lícitas e absolutamente seguras, e nunca 
			utilizando embasamentos sustentados apenas em interpretações teóricas, na maioria
			das vezes incompatíveis com o entendimento do Fisco e que levam empresas e 
			clientes a um passivo tributário temeroso. <br>
			A MANAIA atua com quantidade, eficiência, seriedade e rapidez na realização de seus
			trabalhos. Os trabalhos podem ser executados em qualquer local do território nacional.
		<br>A empresa se preocupa com a continuidade dos serviços prestados e para isso utiliza 
			diversas ferramentas gerenciais, com o intuito de dar suporte necessário aos tomadores 
			de decisões das empresas. A empresa acredita ainda, que apenas a prática não habilita 
			o profissional a superar a concorrência. É imprescindível que faça acompanhamento 
			diário das mudanças econômicas, tributárias, legislação e o mercado financeiro. 
			Além disso, é importante que o profissional busque especialização e atualização 
			profissional através de cursos, leitura e análise de noticiários, boletins e mapas 
			fiscais.
		</div>
			<div id="politicaEmpresa">
				<h3>Politica da Empresa</h3><br>
				A Política da empresa Manaia Consultoria Tributária:<br><br>
					<ul style="margin-left: 20px;">
						<li>Garantir sempre a satisfação dos seus colaboradores, clientes, parceiros
						 e da sociedade.</li>
						<li>Prestar serviços sem onerar o caixa do cliente, demonstrando que a entrega
						do serviço se constitui em lucro para a empresa cliente e não uma despesa ou custo.</li>
						<li>Qualificar continuamente seus colaboradores para atender com máxima qualidade as
						necessidades de seus clientes e órgãos competentes.</li>
						<li>Investir constantemente em tecnologia e infra-estrutura para melhoria dos processos e 
						serviços prestados.</li>
						<li>Contribuir para aumentar a rentabilidade e satisfação dos seus clientes. </li>
						<li>Manter sempre a Ética, Sigilo, Honestidade e Respeito com as informações de seus 
						clientes.</li>
						<li>Atuar nos vários setores econômicos, tais como prestação de serviços em Indústrias 
						Metalúrgicas, Indústrias </li>
						Siderúrgicas, Indústrias de Produtos Alimentícios, Transportes e Serviços Agrícolas, entre outros.
						<li>Utilizar-se da tecnologia da informação como ferramenta primordial.</li>
						<li>Comunicação Interna sobre todos os serviços e assuntos pertinentes a atividade da empresa.</li>
					</ul>
			</div><br>
			
				<h3>Nossa Estrutura</h3><br>
					Outro ponto que ganha destaque é a estrutura física da empresa. Possuindo sede própria, está localizada em área central da “industrial” cidade de Matão, a qual se localiza na região central do Interior Paulista, onde se situam grandes empresas e a região vem sendo alvo de plena expansão comercial/industrial, com aquecimento econômico.
					<br> Como: São Carlos, Araraquara, Jaboticabal, Sertãozinho, Ribeirão Preto, inclusive a pequena cidade de Gavião Peixoto, onde foi instalada uma unidade da Embraer (Empresa Brasileira de Aeronáutica), a qual possui aproximadamente 3 (três) mil funcionários.
					<br><br> Na cidade de Matão, destacam-se as empresas:<br><br> CITROSUCO, BALDAN, MARQUESAN, BAMBOZZI, LOUIS DREYFUS, FISCHER, MATÃO EQUIPAMENTOS, HDS MECPAR, ANTONIOSSI MÁQUINAS AGRÍCOLAS, GLOBAL SUCOS (SUCOS JAL), PANEGOSSI , CAMBUHY, CITROVITA E OUTRAS.
				<br><br>
</div>

{% endblock %}