{% extends 'index.html' %}

{% block conteudo %}
<div id="molduraconteudo">
	<h2>Equipe</h2>
	<div id="equipe">
		Atualmente, a empresa conta com colaboradores e sócios que participam do gerenciamento das 
		atividades desenvolvidas. A empresa traz em seu bojo a experiência profissional de mais de 26
		anos na área e também é constituída de profissionais experientes, jovens valores que dão uma 
		sustentação à atividade da empresa e prospectam o futuro da mesma. A equipe de profissionais
		desenvolve suas atividades tanto interna quanto externamente junto às empresas clientes. 
		Trata-se de profissionais extremamente qualificados e com conhecimento em diversas áreas 
		jurídica/tributária/contábil em empresas nacionais e multinacionais.<br>
		Desse modo oferecemos serviços de altíssimo nível, segurança e credibilidade, que normalmente
		só estariam ao alcance de organizações mais abastadas. Daí a essência do nosso sucesso e da
		garantia de prosperidade para os empreendimentos dos nossos parceiros.
	</div><br><br>
</div>
{% endblock %}