{% extends 'index.html' %}

{% block conteudo %}
<h2>Localização</h2>
<br>
<center>Confira nossa localização no mapa abaixo:</center>
<br><br>
<div id="mapa">
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=R+Afonso+maccagnan+,+600+centro,+Mat%C3%A3o+-+S%C3%A3o+Paulo&amp;aq=&amp;sll=-21.610635,-48.368018&amp;sspn=0.01171,0.013797&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Affonso+Maccagnan,+600+-+Centro,+Mat%C3%A3o+-+S%C3%A3o+Paulo,+15990-680&amp;ll=-21.610635,-48.368018&amp;spn=0.001474,0.001725&amp;z=14&amp;output=embed"></iframe><br /><small>
<a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=R+Afonso+maccagnan+,+600+centro,+Mat%C3%A3o+-+S%C3%A3o+Paulo&amp;aq=&amp;sll=-21.610635,-48.368018&amp;sspn=0.01171,0.013797&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Affonso+Maccagnan,+600+-+Centro,+Mat%C3%A3o+-+S%C3%A3o+Paulo,+15990-680&amp;ll=-21.610635,-48.368018&amp;spn=0.001474,0.001725&amp;z=14" style="color:#494949; font-style: italic;font-weight: bold; margin-left: 150px;">Exibir mapa ampliado</a></small><br><br>
</div>
{% endblock %}