{% extends 'index.html' %}

{% block conteudo %}
<div id="molduraconteudo">
	<h2>Serviços</h2>
	
	<div id="TituloTributaria">
		<h3>- Consultoria Tributária</h3>
		<div id="textoTributaria">
			Atualmente o ambiente econômico que estamos inseridos obriga-nos a buscar inúmeras possibilidades de melhora na lucratividade,
			possibilitando enfrentar os constantes desafios colocados pelas concorrências do mercado agravados pela carga tributária 
			brasileira.<br>
			A Consultoria Tributária é fator essencial dentro da estratégia empresarial de competitividade. A redução de custos 
			alcançada a partir da perfeita Gestão Fiscal, dado o peso dos tributos sobre suas atividades diárias, ocasiona 
			excelentes reflexos na situação financeira e patrimonial da Empresa<br>
			Com isso é inequívoco reafirmar que o Bom Planejamento Tributário assume grande importância sendo capaz de interferir 
			decisivamente na continuidade das empresas, sobretudo na consolidação de sua inserção na economia de mercados 
			globalizados e na ampliação de suas operações empresariais.<br>
			Nossa relação profissional será fundamentada no alto grau de satisfação que proporcionaremos com a utilização de nossos 
			serviços e a convicção de que com a aplicação do Planejamento Tributário sua empresa, em pouco tempo, terá excelentes 
			resultados financeiros.<br>
			Neste contexto, com base no princípio da legalidade tributária e no princípio da moralidade pública, nosso 
			compromisso será o de garantir legalmente para a sua empresa o não pagamento de tributos considerados 
			inconstitucionais e/ou ilegais, bem como a recuperação dos tributos pagos indevidamente.
		</div>
	</div>	
		<div id="TituloContabil">
				<h3>- Consultoria Contábil</h3>
				<div id="textoContabil">
					A Consultoria Contábil é indispensável para a Gestão Empresarial por inúmeras razões, entre elas a de ter 
					desenvolvido, de forma notável, a técnica da Contabilidade.<br>
					Por isso, a Contabilidade é um instrumento de avaliação, monitoração, orientação, interpretação e, primordialmente,
					de previsão de eventos de grande importância microeconômica e macroeconômica, haja vista o processo de globalização 
					em que estamos inseridos.<br>
					A MANAIA CONSULTORIA TRIBUTÁRIA presta serviços de organização, estruturação e atualização contábeis para empresas de
					 todos os seguimentos (indústria, comércio, serviços, sociedades anônimas, etc.)<br>
					Efetuamos o processamento contábil dos documentos com a competente elaboração das demonstrações contábeis.

				</div>
				
		</div>
			
			<div id="TituloJuridica">
				<h3>- Consultoria Jurídica</h3>
				<div id="textoJuridica">
					A diversidade de tributos, a elevada carga tributária e, principalmente os meios vorazes de arrecadação fiscal a que são
					compelidos os contribuintes brasileiros, tornam necessária a prestação jurisdicional a fim de impedir eventual atuação
					ilegal do Estado.<br>
					Somos peritos em processos fiscais, sobretudo na preparação de defesas dos clientes que estão sendo executados pelo Fisco. 
					Desta forma, propiciamos todo o suporte técnico necessário para elaboração dos Embargos à Execução Fiscal. Atuamos junto aos
					órgãos competentes em todas as esferas e instancias do poder público (Municipal, Estadual e Federal).<br><Br>
					Acompanhamentos de Defesas e Respostas Administrativas:<br><br>
					-	Autos de Infração;<br>
					-	Intimações;<br>
					-	Questionamentos;<br>
					-	Solitações;<br>
					-	Despachos Decisórios;<br>
					-	Processos Administrativos;<br>
					-	Manifestações de Incorfomidade;<br>
					-	PERCs;<br>
					-	Soluções de Consulta;<br>
					-	Acórdãos;<br>
					-	Leis, Instruções Normativas e Legislação em geral;<br>
					-	Ações Judiciais;<br>
					-	Defesas em Ações de Execução Fiscal;<br>
					-	Autuações Fiscais;<br>
					-	Execuções Fiscais;<br>
					-	Cobrança de Multas s/ INSS em Atraso;<br>
					-	Sonegação Fiscal;<br>
					-	Recuperação Tributária;<br>
					-	Defesa Penal Tributária;<br>
					-	Gestão do Passivo Fiscal;<br>
					-	Reflexões sobre a CPMF.<br><br>
					
					Multa INSS<br><br>
					1. Conceitos Básicos<br>
					2. Contribuição da Empresa e Equiparados Sobre os Valores Pagos aos Empregados e Contribuintes Individuais<br>
					2.1. Empresas em Geral - Alíquota de Recolhimento<br>
					2.2. Bancos e Instituições Financeiras - Alíquota de recolhimento<br>
					2.3. Empresas Optantes pelo Simples - Alíquota de recolhimento<br>
					2.4 Produtor Rural Pessoa Jurídica - Alíquota de recolhimento<br>
					2.5 Produtor Rural Pessoa Física - Alíquota de recolhimento<br>
					2.6. Agroindústrias - Alíquota de recolhimento<br>
					2.7. Entidades Beneficentes de Assistência Social - Entidades Filantrópicas <br>
					2.8. Cooperativas - Alíquota de Recolhimento<br>
					2.9. Contribuição da Empresa e Equiparados Sobre o Valor Pago à Transportador Autônomo - Autônomo Carreteiro<br>
					3. Empregadas Afastadas por Salário-maternidade – Contribuição Previdenciária da Empresa<br>
					4. Empregados Afastados por Auxílio Doença ou Acidente do Trabalho – Contribuição Previdenciária da Empresa<br>
					5. Empregados em Férias – Contribuição Previdenciária da Empresa<br>
					6. Empregados Aposentados – Contribuição Previdenciária da Empresa<br>
					7. Décimo Terceiro Salário – Contribuição Previdenciária da Empresa<br>
					8. Faltas, Admissão ou Demissão no Curso do Mês<br>
					9. Salário-de-Contribuição - Parcelas Sobre as Quais Incide Contribuição Previdenciária<br>
					9.1. Parcelas Isentas de Contribuição Previdenciária<br>
					10. Prazo e Forma de Recolhimento da Contribuição Sobre a Folha de Pagamento<br>
					11. Declaração na GFIP - Guia de Recolhimento do Fundo de Garantia do Tempo de Serviço e Informações à Previdência Social<br>
					12. Fiscalização da Contribuição sobre os Contribuintes Individuais<br>
					12.1. Fiscalização nas Sociedades Civis

				</div>
			</div>		<br><br>
				<div id="TituloTrabalhista ">
					<h3>- Consultoria Trabalhista e Previdenciária</h3><br>
					<div id="textoTrabalhista">
						-	Revisão de folha de pagamento<br>
						-	Revisão de procedimentos internos em face de obrigações trabalhistas<br>
						-	Análise de documentos essenciais na relação de trabalho<br>
						-	Consultoria para minimizar riscos trabalhistas e previdenciários
						-	Parecer sobre ações judiciais que visam diminuir a carga de tributo paga ao INSS – Contribuições Previdenciárias<br>
						-	Recuperação de crédito tributário referente à contribuições previdenciárias<br>
						-	Análise do risco da empresa e percentual de contribuição previdenciária - FAP<br>
						-	Ações de Indenização decorrente de Acidente de Trabalho<br>
						-	Assessoria quanto aos riscos da atividade em face da segurança e medicina do trabalho

					</div>
				</div>
				
					<div id="TituloCredito">
						<h3>- Recuperação de Crédito Tributário</h3>
						<div id="textoCredito">
							Sob o aspecto – apuração de créditos – o nosso trabalho consiste principalmente em revisar
							toda a documentação fiscal das empresas Clientes visando descobrir valores que não foram tomados como créditos no sistema 
							não cumulativo de tributos em empresas com apuração contábil pelo lucro real. Utilizando-se da correta interpretação da 
							legislação para verificação de possíveis créditos tributários. Analisamos e revisamos todos os documentos dos últimos cinco anos.
							Nossos colaboradores promovem com eficiência a pesquisa dos arquivos, zelando criteriosamente para que os documentos se mantenham 
							na mesma condição e posição encontradas. Somente verificam os arquivos de documentos que lhes forem disponibilizados, não promovendo 
							interferências indesejadas no procedimento normal da empresa. <br>
							Os valores apontados em nossos relatórios como créditos tributários são suportados pela legislação vigente, seja através da própria Lei 
							ou decisões e instruções normativas, ou soluções de consultas da própria Receita. Após realização do trabalho nossa equipe promove toda 
							a documentação contábil necessária para compensação de créditos e/ou restituição.<br>
						    O PIS e a COFINS no regime não-cumulativo, são exemplos da natureza dos trabalhos que estamos desenvolvendo junto às empresas Clientes,
						    com reais possibilidades de sucesso a apuração de resultados significativos, pois a apuração de base de cálculo dessas contribuições é
						    sobremaneira complexa e controvertida para a maioria das empresas e tem contribuído para que em alguma delas – essa base de cálculo – 
						    esteja sendo apurada de maneira errônea, gerando recolhimentos a maior. O excesso de legislação, instruções normativas e entendimentos
						    do FISCO sobre a matéria geraram no tempo a incerteza de crédito que agora podem ser recuperados por ser considerado recolhimento a maior. 
						    O mesmo pode se dizer em face dos demais tributos como: CSLL, ICMS, ISS, IRPF, IPVA, IPTU, IPI, IE, INSS, FGTS, IRRF, CSRF, CIDE, ITR, IR,
						    entre outros.<br><br>
						    Ressarcimento e Declaração de Compensação, Restituição de pagamento indevido ou à maior, Créditos Extemporâneos, são serviços que fazem parte 
						    da recuperação de crédito tributário.<br><br>
						    Remuneração na Recuperação de Crédito Tributário:<br><br>
						    A remuneração do trabalho de recuperação de créditos tributários é condicionada à obtenção do sucesso. Caso a empresa Cliente obtenha benefícios
						     financeiros com a redução da carga tributária e/ou através de identificação de possíveis créditos não aproveitados será devido os honorários em 
						     percentual que for contratado, ou seja, “ad êxito”. A respeito da confiabilidade no trabalho realizado, a MANAIA garante a devolução dos honorários 
						     mediante cláusula contratual própria no caso de haver glosa efetiva de crédito tributário por ela apurado, conforme condições contratuais a serem 
						     entabuladas em contrato. 
						</div>	
					</div>
						
						<div id="TituloEmpresarial">
							<h3>- Assessoria Empresarial</h3>
							<div id="textoEmpresarial">
								A assessoria empresarial consiste em agregar valor aos negócios das Empresas, atualmente não basta à prestação de serviços excepcionais focados apenas
								numa determinada área do conhecimento, é necessária sua ampliação e a conjugação de outras técnicas que permitam uma visão global e a análise de todas 
								as conseqüências de cada decisão.<br>	
								Reorganizações Societárias<br>
								Aquisições e Incorporações<br>
								Fusões e Cisões<br>
								Estratégias Financeiras<br>
								Gestão de Custos<br>
								Orçamento Empresarial<br>	

							</div>
						</div>
						
							<div id="TituloPlanejamento">
								<h3>- Planejamento Tributário</h3>
								<div id="textoPlanejamento">
									Os nossos estudos abrangem, previamente a análise e definição de um diagnóstico sobre a melhor estratégia na aplicação da legislação fiscal, visando à 
									adequação da carga tributária da empresa, com estrita observância da legislação vigente, uma vez que os nossos procedimentos e sugestões serão apresentados 
									sempre em plena conformidade com as interpretações já divulgadas pelas autoridades fazendárias através de decisões e instruções normativas, soluções de consultas, etc.
									<br>O Planejamento Tributário é atualmente fator essencial dentro da estratégia empresarial de competitividade. A redução de custos alcançada a partir da perfeita 
									Gestão Fiscal, dado o peso dos tributos sobre suas atividades diárias, ocasiona excelentes reflexos na situação financeira e patrimonial da Empresa.
								</div>
							</div>
							
								<div id="TituloSocietario">
									<h3>- Planejamento Societário</h3>
									<div id="textoSocietario">
										A sobrevivência das empresas está diretamente ligada ao processo societário, sobretudo ao desejo dos sócios de estarem e permanecerem juntos. Nesse sentido, 
										prestamos serviços mediante intervenção junto a processos societários complexos e busca de alternativas societárias que contemplem os interesses dos sócios.
										Administração de conflitos societários facilitando os interesses dos envolvidos;<br>
										Criação de conselhos de administração, evidenciando o seu verdadeiro papel na defesa dos interesses estratégicos da sociedade;<br>
										Elaboração de “Acordos Societários”, estabelecendo regras de convivência societária, protegendo a empresa de interesses individuais;<br>
										Estudos sobre a conveniência e realização de cisões, fusões e incorporações e criação de “holdings”;<br>
										Definição do modelo societário;<br>Desenvolvimento de código de ética e posturas da empresa.

									</div>
								</div>
								
									<div id="TituloIdentificacao">
										<h3>- Identificação de Restituições Tributárias</h3>
										<div id="textoIdentificacao">
											Nossa experiência e metodologia de trabalho consistem em instrumento fundamental para auxiliar empresas a se tornarem mais competitivas.<br>
											Apresentamos soluções que propiciem o vencimento dos desafios atuais de nossos clientes na busca e otimização de oportunidades que garantam condições de 
											crescimento e rentabilidade.
										</div>
									</div>
										<div id="TituloRecuperacao">
											<h3>- Recuperação de Indébito Fiscal</h3>
											<div id="textoRecuperacao">
												Em trabalho de revisão fiscal nossa atuação atinge todas as áreas que envolvam tributos diretos e indiretos, tais como PIS e COFINS – regimes cumulativos ou
												 não cumulativos, CSLL, IRPJ, IPI e ICMS. Essa revisão permite recuperar tributos que porventura tenham sido recolhidos indevidamente pela empresa.
											</div>
										</div>
											<div id="TituloControle">
												<h3>- Controles Internos</h3>
												<div id="textoControle">
													Apuração e Verificação de Tributos: IRPJ, CSLL, PIS, COFINS, ICMS, ISS, IRPF, IPVA, IPTU, IPI, IE, INSS, FGTS, IRRF, CSRF, CIDE, ITR.<br>
													Confecção, Revisão e Validação de: DIPJ,DACON, DCTF, DIRF, DIMOB, DITR, DIRPF, PER/DCOMP, GIA, DCA, LALUR, DES, DBF, GFIP/SEFIP, NFE, CAGED,
													RAIS, CNPJ, REDARF, DAÍ, CEI, CAFIR, GANHO DE CAPITAL, DBE. <br>
													Relatório de Divergência e Renovação de Certidões Negativas: CND Conjunta RFB-PGFN, CND INSS, CRF-FGTS, Certidão de Imóvel Rural, CCIR, Certidões
													Negativas Estaduais, Certidões Negativas Municipais, Pesquisas de Regularidade.<br>
													Recuperação de Créditos - Esfera Administrativa: PIS, COFINS, IPI, ICMS, INSS, IRPJ, CSLL, ISS, IRRF.<br>
													Demonstrações e Comparativos entre Regimes Tributários: Lucro Real, Lucro Presumido, Simples Nacional e Impactos relacionados aos demais tributos 
													(PIS-COFINS-ICMS-INSS-ISS);<br>
													Comércio Exterior: SISCOMEX, RADAR, DRAWBACK, CÂMBIO, Admissão Temporária.<br>
													Certificação Digital<br>
													SIEF – Cobranças<br>
													Órgãos de Atuação: Posto Fiscal Estadual, Receita Federal do Brasil, Alfândega, Prefeituras Municipais, Procuradoria-Geral da Fazenda Nacional, 
													INSS, INCRA, IBAMA, CEF, Polícia Federal, Federação Nacional do Comércio, Federação Nacional da Agricultura, Federação Nacional da Indústria,
													Sindicatos Patronais, IBGE, CVM.<br>
													Nota Fiscal Eletrônica e SPED<br>
													Retenções Tributárias:Retenção de Imposto de Renda – IRRF, Retenção de Contribuições Sociais – CSRF, Retenção de INSS e Retenção de ISS.<br>
													Acompanhamento diário da legislação tributária<br>
													Apuração de GRCS (Contribuição Sindical Patronal)<br>
													Parcelamento de Tributos:REFIS, PAES, Redução de multas.<br>
													Resposta às consultas internas de clientes de forma ilimitada<br>
													Cursos disponíveis para as empresas clientes (oferecido in company):DCTF, DACON, CNPJ e DBE, DIRF, DARF e REDARF, GFIP/SEFIP e GPS, Imposto de 
													Renda de Pessoa Física, Apuração de PIS-COFINS, Apuração de IRPJ e CSLL, Confecção de LALUR, Correção Selic e Créditos Extemporâneos, PER/DCOMP,
													 Retenções Tributárias (IRRF - CSRF - ISS - INSS), Apuração de ICMS, Apuração de IPI, Créditos no regime não-cumulativo do PIS-COFINS, Lucro Presumido,
													  Simples Nacional, IOF, Legislação Tributária - vigência e ferramentas de busca, Orçamento Gerencial, Depreciação e Ativo Imobilizado, Navegação e acesso
													   aos sítios tributários (RFB - PGFN - Posto Fiscal e INSS). 
												</div>
											</div>
												<div id="TituloImposto">
													<h3>- Imposto de Renda</h3>
													<div id="textoImposto">
														IR - Administração do Imposto - Imposto de Renda<br><br>
														IR – Declarações<br><br>
														IR - Fonte - Imposto de Renda<br><br>
														IR - Tributação das Operações Financeiras - Imposto de Renda

													</div>
												</div><br><br>
</div>
{% endblock %}